<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Currently exploring</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  I have been fascinated with Clojure/Script for the past year and a half. 
  Since finding Clojure I have become obsessed with it! 
  I believe Clojure throughout the entire stack increases productivity tremendously.</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Experience</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  Technologies I am proficient in and have several years experience with.
</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.expertise %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>
